{% extends "network/layout.html" %}

{% block body %}
    
    {% block top_info %}
    {% endblock %}

    <div id="posts"></div>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link">First</a></li>
            <li class="page-item" id="previous"><a class="page-link">Previous</a></li>
            <div id="page-numbers"></div>
            <li class="page-item" id="next"><a class="page-link">Next</a></li>
            <li class="page-item"><a class="page-link">Last</a></li>
        </ul>
    </nav>
{% endblock %}