body {
    margin: 0;
    background-color: white;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

.edit-form {
    display: inline-block;
}

.edit-form textarea {
    /* height: 90vh;
    width: 80%; */
    display: block;
    margin-bottom: 20px;
}

.edit-form label {
    display: inline-block;
}

.edit-form .edit-btn {
    float: right;
}

.main {
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
}

.qqq {
    border: 1px solid #879194;
    margin: 10px 10px 10px auto;
}