{% extends "auctions/layout.html" %}

{% block body %}
    <h2 style="margin: 1rem auto;">Active Listings</h2>

    <ul class="list-group">
        {% for listing in listings %}
            <li class="list-group-item">
                <div class="container">
                    <a class="d-block stretched-link" href="{% url 'listing' listing.id %}">{{ listing.title }}</a>
                    {% if listing.image %}
                        <img src="{{ listing.image }}" style="float: left; height: 15vh; margin-right: 5px;">
                    {% endif %}
                    <p class="d-inline-block text-truncate">{{ listing.description }}</p>
                </div>
            </li>
        {% empty %}
            <li>No active listings.</li>
        {% endfor %}    
    </ul>
    
{% endblock %}