{% extends "auctions/layout.html" %}

{% block body %}

    <div style="margin-top: 1rem;">
        <h2>{{ listing.title }}</h2>
        <h4>Category: <a href="{% url 'category' listing.category %}">{{ listing.category }}</a></h4>
    </div>

    {% if request.user == listing.seller %}
        <div>
            <form action="{% url 'close' listing.id %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="hidden" value="hidden">
                <input class="btn btn-primary" type="submit" name="open_close" value="{% if listing.active %}{{ 'Close' }}{% else %}{{ 'Open' }}{% endif %}">
            </form>
        </div>
    {% endif %}

    <div style="margin-top: 15px;">
        <p style="margin-bottom: 0.25rem;">Number of people watching this item:  {{ num_watching }}</p>
        {% if request.user.is_authenticated %}
            <p style="margin-bottom: 0.25rem;">
            {% if in_watchlist %}
                <a href="{% url 'watchlist_edit' edit='REMOVE' listing_id=listing.id %}">Remove from your Watchlist</a>
            {% else %}
                <a href="{% url 'watchlist_edit' edit='ADD' listing_id=listing.id %}">Add to your Watchlist</a>
            {% endif %}
            </p>
        {% endif %}
    
        {% if winner %}
            <h3>Congratulations!  You won this item!</h3>
        {% endif %}
    </div>

    <div class=".d-inline-flex" style="display: block; margin: 1rem auto;">
        {% if listing.image %}
            <img src="{{ listing.image }}" alt="listing.title" style="height: 60vh; float: left; margin: 10px;">
        {% endif %}
        <h5>Description:  </h5>
        <p>{{ listing.description }}</p>
        <div style="clear: both;"></div>
    </div>
    
    <div class=".d-inline-flex">
        {% if listing.active %}
            <h4>Current Bid:  {{ listing.current_bid }}</h4>
            {% if user.is_authenticated %}
                <form action="{% url 'bid' listing.id %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input class="form-control" type="text" name="bid" placeholder="Bid Here">
                    </div>
                    <input class="btn btn-primary" type="submit" value="Bid">
                </form>
            {% endif %}
        {% else %}
            <h4>Winning Bid:  {{ listing.current_bid }}</h4>
        {% endif %}
    </div>

    <hr>

    {% if request.user.is_authenticated %}
        <div class=".d-inline-flex" style="margin-bottom: 1rem;">
            <h4>Post a comment:</h4>
            <form action="{% url 'comment' listing.id %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <textarea class="form-control" type="text" name="comment" style="height: 30vh;" placeholder="Type your comment here..."></textarea>
                </div>
                <input class="btn btn-primary" type="submit" value="Post">
            </form>
        </div>
    {% endif %}
    <div class=".d-inline-flex">
        <h4>Comments:</h4>
        {% for comment, post_time in comments_dict.items %}
            <div class=".d-inline-flex" style="margin: 10px auto;">
                <h6>{{ comment.op.username }} </h6>
                <p style="margin-bottom: 0.5rem;">Posted: {{ post_time }}</p>
                <p>{{ comment.content }}</p>
            </div>
        {% empty %}
            <p>No comments.</p>
        {% endfor %}
    </div>

{% endblock %}