body {
    background-color: #202124;
}

.my-navbar {
    margin-top: 5px;
}

.main-div {
    margin-top: 150px;
}

img {
    display: block;
    margin: 30px auto;
    width: 25%;
}

.my-search {
    display: flex;
    justify-content: center;
    margin: 15px auto;
}

.my-form {
    border: 1px solid white;
    border-radius: 20px;
    width: 500px;
}

.my-btn {
    margin: 0px 5px;
    border-color: #303134;
    background-color: #303134;
    border-radius: 4px;
}

.adv-title {
    margin-top: 20px;
    display: flex;
    justify-content: left;
    color: #f28b82;
    font-size: 130%;
}

.adv-div {
    display: inline-block;
    margin: 20px 0px;
    margin-left: 5%;
    position: absolute;
    width: 50%;
}

.adv-search {
    display: flex;
    justify-content: left;
    margin: 15px auto;
}

.adv-form-div {
    margin: 10px 0px;
    float: left;
    clear: left;
    width: 100%;
}

.adv-form-div div:first-of-type {
    width: 30%;
    float: left;
    display: flex;
    align-items: center;
}

.adv-form-div div:nth-of-type(2) {
    width: 70%;
    float: right;
}

.adv-form-div div p {
    /* display: flex;
    justify-content: left; */
    text-align: center;
    color: #bdc1c6;
    font-size: 100%;
}

.adv-form-div div input {
    border: 1px solid #5f6368;
    width: 100%;
}

.adv-form-div h6 {
    color: #e8eaed;
    font-size: 115%;
}

.adv-div form {
    display: inline-block;
    width: 100%;
}

.adv-btn {
    float: right;
    clear: both;
    margin-left: auto;
    margin-right: 0;
}

.adv-my-btn {
    margin: 10px 5px;
    border-color: #8ab4f8;
    background-color: #8ab4f8;
    color: #202124;
    border-radius: 4px;
}
